--- src/kernel/sel4/configs/bcm2711/rpi4/autoconf.h
+++ src/kernel/sel4/configs/bcm2711/rpi4/autoconf.h
@@ -24,7 +24,12 @@
 #define CONFIG_MULTIBOOT1_HEADER 1
 #define CONFIG_MULTIBOOT2_HEADER 1
 #define CONFIG_MAX_RMRR_ENTRIES 1
-#define CONFIG_ROOT_CNODE_SIZE_BITS 12
+#define CONFIG_ROOT_CNODE_SIZE_BITS 15
+#define CONFIG_PRINTING 1
+#define CONFIG_ENABLE_BENCHMARKS 1
+#define CONFIG_BENCHMARK_TRACK_UTILISATION 1
+#define CONFIG_HAVE_FPU 1
+#define CONFIG_FPU_MAX_RESTORES_SINCE_SWITCH 64
 #define CONFIG_TIMER_TICK_MS 2
 #define CONFIG_TIME_SLICE 5
 #define CONFIG_RETYPE_FAN_OUT_LIMIT 256
@@ -37,7 +42,7 @@
 #define CONFIG_MAX_NUM_NODES 1
 #define CONFIG_KERNEL_STACK_BITS 12
 #define CONFIG_VERIFICATION_BUILD 1
-#define CONFIG_NO_BENCHMARKS 1
+#define CONFIG_NO_BENCHMARKS 0
 #define CONFIG_KERNEL_BENCHMARK none
 #define CONFIG_MAX_NUM_TRACE_POINTS 0
 #define CONFIG_USER_STACK_TRACE_LENGTH 0
